* {
  box-sizing: border-box;
  font: "Lato", sans-serif;
}

.container {
  display: grid;
  grid-template-columns:repeat(auto-fill, minmax(300px, 1fr));
  gap: 1vw;
  padding: calc(1em+1vw);
}

.watchBtn {
  background-color: #2618B1;
  color: white;
}

h1 {
  margin: 20px;
  text-align: center;
  font-size: calc(3em+1vw);
}